body {
  font-family: 'Offside', cursive !important;
  line-height: 1rem !important;
}

.gallery-image {
  width: 30%;
}

.gallery-image:not(:last-child) {
  margin-right: 2px;
}

.gallery-image--second {
  width: 45%;
}

.gallery-image--second:not(:last-child) {
  margin-right: 3px;
}

.slide-left {
  -webkit-animation: slide-left 0.8s ease-out 0.80s;
          animation: slide-left 0.8s ease-out 0.80s;
  -webkit-transition: all .5s;
  transition: all .5s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.slide-right {
  -webkit-animation: slide-right 0.8s ease-out 0.80s;
          animation: slide-right 0.8s ease-out 0.80s;
  -webkit-transition: all .5s;
  transition: all .5s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.slide-down {
  -webkit-animation: slide-down 0.8s ease-out 0.80s;
          animation: slide-down 0.8s ease-out 0.80s;
  -webkit-transition: all .5s;
  transition: all .5s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

@-webkit-keyframes slide-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
  }
  50% {
    opacity: 1;
    -webkit-transform: translateX(40px);
            transform: translateX(40px);
  }
  100% {
    -webkit-transform: translate(0px);
            transform: translate(0px);
  }
}

@keyframes slide-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
  }
  50% {
    opacity: 1;
    -webkit-transform: translateX(40px);
            transform: translateX(40px);
  }
  100% {
    -webkit-transform: translate(0px);
            transform: translate(0px);
  }
}

@-webkit-keyframes slide-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  50% {
    opacity: 1;
    -webkit-transform: translateX(-40px);
            transform: translateX(-40px);
  }
  100% {
    -webkit-transform: translate(0px);
            transform: translate(0px);
  }
}

@keyframes slide-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  50% {
    opacity: 1;
    -webkit-transform: translateX(-40px);
            transform: translateX(-40px);
  }
  100% {
    -webkit-transform: translate(0px);
            transform: translate(0px);
  }
}

@-webkit-keyframes slide-down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
  50% {
    opacity: 1;
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  100% {
    -webkit-transform: translate(0px);
            transform: translate(0px);
  }
}

@keyframes slide-down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
  50% {
    opacity: 1;
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  100% {
    -webkit-transform: translate(0px);
            transform: translate(0px);
  }
}

.header-primary {
  font-size: 7rem;
  color: white;
}

.header-secondary {
  font-size: 1rem;
}

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 0px !important;
}

.font-gafata {
  font-family: 'Gafata', sans-serif;
  line-height: 1.5rem;
  font-size: 1.1rem;
  font-weight: bold;
}

.arrow-container {
  position: absolute;
  bottom: 3rem;
  left: 50%;
}

.form-control {
  border: 1px solid #4795e2 !important;
  border-radius: 0 !important;
}

nav {
  padding: .5rem 9rem !important;
  position: fixed;
  width: 100%;
  z-index: 999;
  -webkit-transition: -webkit-transform 0.8s ease;
  transition: -webkit-transform 0.8s ease;
  transition: transform 0.8s ease;
  transition: transform 0.8s ease, -webkit-transform 0.8s ease;
  overflow-x: hidden;
  overflow-y: hidden;
}

nav ul {
  float: right;
}

nav ul li {
  display: inline-block;
  float: left;
}

nav ul li:not(:first-child) {
  margin-left: 2.5rem;
}

nav ul li a {
  display: inline-block;
  outline: none;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1rem;
  letter-spacing: 1px;
  margin-top: 1rem;
  position: relative;
}

nav ul li a:hover {
  color: #09eaf1 !important;
}

nav ul li a:link {
  text-decoration: none;
}

nav ul li a::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background: #09eaf1;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: -webkit-transform 250ms ease-in;
  transition: -webkit-transform 250ms ease-in;
  transition: transform 250ms ease-in;
  transition: transform 250ms ease-in, -webkit-transform 250ms ease-in;
}

nav ul li a:hover {
  color: #18b0f1;
}

nav ul li a:hover::after {
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

nav.sticky {
  background: #f7f7f7;
  padding: .5rem 9rem !important;
  -webkit-transition: -webkit-transform 0.8s ease;
  transition: -webkit-transform 0.8s ease;
  transition: transform 0.8s ease;
  transition: transform 0.8s ease, -webkit-transform 0.8s ease;
  -webkit-box-shadow: 0px 2px .4rem #1616164d;
          box-shadow: 0px 2px .4rem #1616164d;
}

nav.sticky ul li a {
  margin-top: .3rem;
  color: #000;
  -webkit-transition: -webkit-transform 0.8s ease;
  transition: -webkit-transform 0.8s ease;
  transition: transform 0.8s ease;
  transition: transform 0.8s ease, -webkit-transform 0.8s ease;
}

nav.sticky ul li a:hover {
  color: white;
}

nav.sticky .logo {
  float: left;
  padding: .5rem;
  margin-top: 1rem;
}

nav.sticky .logo a {
  color: #000;
}

.logo {
  float: left;
  padding: .5rem;
  margin-top: 1.5rem;
}

.logo a {
  color: white;
  text-transform: uppercase;
  font-size: 1.6rem;
  letter-spacing: 0px;
  text-decoration: none;
}

.logo a:hover {
  color: #09eaf1 !important;
  text-decoration: none;
}

@media (max-width: 1024px) {
  nav {
    padding: .5rem 4rem !important;
    -webkit-transition: -webkit-transform 0.8s ease;
    transition: -webkit-transform 0.8s ease;
    transition: transform 0.8s ease;
    transition: transform 0.8s ease, -webkit-transform 0.8s ease;
    overflow-x: hidden;
    overflow-y: hidden;
  }
  nav.sticky {
    -webkit-transition: -webkit-transform 0.8s ease;
    transition: -webkit-transform 0.8s ease;
    transition: transform 0.8s ease;
    transition: transform 0.8s ease, -webkit-transform 0.8s ease;
    background: white;
    -webkit-box-shadow: 0px 2px .4rem #1616164d;
            box-shadow: 0px 2px .4rem #1616164d;
    padding: .5rem 4rem !important;
  }
  nav.sticky .nav-btn i {
    display: block;
    width: 1.2rem;
    height: 2px;
    background: #000;
    border-radius: 2px;
    margin-left: 25%;
  }
  nav.sticky .nav-wrapper {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -200;
    background: rgba(255, 255, 255, 0.911);
    opacity: 0;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  nav.sticky .nav-wrapper ul {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 100%;
  }
  nav.sticky .nav-wrapper ul li {
    display: block;
    float: none;
    width: 100%;
    text-align: right;
  }
  nav.sticky .nav-wrapper ul li:nth-child(1) a {
    -webkit-transition-delay: 0.2s;
            transition-delay: 0.2s;
  }
  nav.sticky .nav-wrapper ul li:nth-child(2) a {
    -webkit-transition-delay: 0.3s;
            transition-delay: 0.3s;
  }
  nav.sticky .nav-wrapper ul li:nth-child(3) a {
    -webkit-transition-delay: 0.4s;
            transition-delay: 0.4s;
  }
  nav.sticky .nav-wrapper ul li:nth-child(4) a {
    -webkit-transition-delay: 0.5s;
            transition-delay: 0.5s;
  }
  nav.sticky .nav-wrapper ul li a {
    padding: 10px 20px;
    opacity: 0;
    color: #000;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 1.1px;
    -webkit-transform: translateX(-1.3rem);
            transform: translateX(-1.3rem);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    margin-right: 5%;
  }
  nav.sticky .nav-btn {
    right: .6rem;
    top: 1.2rem;
  }
  nav.sticky #nav:checked ~ .nav-wrapper {
    z-index: 200;
    opacity: 1;
    position: fixed;
  }
  .logo {
    padding: 0;
    margin-top: 2rem;
  }
  .nav-wrapper {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: rgba(255, 255, 255, 0.89);
    opacity: 0;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  .nav-wrapper ul {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 100%;
  }
  .nav-wrapper ul li {
    display: block;
    float: none;
    width: 100%;
    text-align: right;
  }
  .nav-wrapper ul li:nth-child(1) a {
    -webkit-transition-delay: 0.2s;
            transition-delay: 0.2s;
  }
  .nav-wrapper ul li:nth-child(2) a {
    -webkit-transition-delay: 0.3s;
            transition-delay: 0.3s;
  }
  .nav-wrapper ul li:nth-child(3) a {
    -webkit-transition-delay: 0.4s;
            transition-delay: 0.4s;
  }
  .nav-wrapper ul li:nth-child(4) a {
    -webkit-transition-delay: 0.5s;
            transition-delay: 0.5s;
  }
  .nav-wrapper ul li:not(:first-child) {
    margin-left: 0;
  }
  .nav-wrapper ul li a {
    padding: 10px 20px;
    opacity: 0;
    color: #000;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 1.1px;
    -webkit-transform: translateX(-1.3rem);
            transform: translateX(-1.3rem);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    margin-right: 5%;
  }
  .nav-btn {
    position: fixed;
    right: .6rem;
    top: 1.5rem;
    display: block;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    z-index: 9999;
    border-radius: 50%;
    margin-right: 5%;
  }
  .nav-btn i {
    display: block;
    width: 1.2rem;
    height: 2px;
    background: white;
    border-radius: 2px;
    margin-left: 25%;
  }
  .nav-btn i:nth-child(1) {
    margin-top: 1rem;
  }
  .nav-btn i:nth-child(2) {
    margin-top: 4px;
    opacity: 1;
  }
  .nav-btn i:nth-child(3) {
    margin-top: 4px;
  }
}

#nav:checked + .nav-btn {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#nav:checked + .nav-btn i {
  background: #000;
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
}

#nav:checked + .nav-btn i:nth-child(1) {
  -webkit-transform: translateY(6px) rotate(180deg);
          transform: translateY(6px) rotate(180deg);
}

#nav:checked + .nav-btn i:nth-child(2) {
  opacity: 0;
}

#nav:checked + .nav-btn i:nth-child(3) {
  -webkit-transform: translateY(-6px) rotate(90deg);
          transform: translateY(-6px) rotate(90deg);
}

#nav:checked ~ .nav-wrapper {
  z-index: 200;
  opacity: 1;
  position: fixed;
}

#nav:checked ~ .nav-wrapper ul li a {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.hidden {
  display: none;
}

.composition {
  position: relative;
  width: 90%;
  margin: 0 auto;
}

.composition__photo {
  width: 55%;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
  -webkit-transition: all .2s;
  transition: all .2s;
}

.composition__photo--p1 {
  margin-top: -1rem;
}

.composition__photo--p2 {
  position: absolute;
  right: 0;
  top: 2rem;
}

.composition__photo--p3 {
  margin-top: -3.5rem;
  margin-left: 6%;
}

.composition__photo:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  z-index: 9999;
  cursor: pointer;
}

.composition:hover .composition__photo:not(:hover) {
  z-index: -1;
}

@media only screen and (max-width: 420px) {
  html {
    font-size: 86% !important;
  }
  .header-primary {
    font-size: 3.5rem;
  }
  .header-secondary {
    font-size: .7rem;
  }
}

@media only screen and (min-width: 420px) {
  html {
    font-size: 88% !important;
  }
  .header-primary {
    font-size: 4.3rem;
  }
  .header-secondary {
    font-size: .7rem;
  }
}

@media only screen and (min-width: 600px) {
  html {
    font-size: 90% !important;
  }
  .header-primary {
    font-size: 5.2rem;
  }
  .header-secondary {
    font-size: .8rem;
  }
}

@media only screen and (min-width: 768px) {
  html {
    font-size: 94% !important;
  }
  .header-primary {
    font-size: 6rem;
  }
  .header-secondary {
    font-size: .9rem;
  }
}

@media only screen and (min-width: 992px) {
  html {
    font-size: 98% !important;
  }
  .header-primary {
    font-size: 7rem;
  }
  .header-secondary {
    font-size: 1rem;
  }
}

.hero {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(16, 114, 145, 0.22)), to(rgba(3, 39, 26, 0.78))), url(../images/hero-bg.jpg);
  background: linear-gradient(to bottom, rgba(16, 114, 145, 0.22), rgba(3, 39, 26, 0.78)), url(../images/hero-bg.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  position: relative;
  overflow-x: hidden;
}

.contactus {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(16, 114, 145, 0.22)), to(rgba(3, 39, 26, 0.78))), url(../images/hero-bg.jpg);
  background: linear-gradient(to bottom, rgba(16, 114, 145, 0.22), rgba(3, 39, 26, 0.78)), url(../images/hero-bg.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.introduction {
  width: 100%;
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
}

.gallery {
  width: 100%;
  margin-top: 5rem;
  position: relative;
  overflow-x: hidden;
}

.aboutus {
  height: 60vh;
  width: 100%;
  overflow-x: hidden;
}
